.uppercase{

     color: red;
     font-size: 40px;
}
 .cursive{

    font-family: cursive;
 }

 .uppercase2{

    color: blue;
    font-size: 40px;

 }

 .fantasy{

    font-family: fantasy;
 }
 #hr{

    color: green;
    font-family: cursive;
 }